attrs==21.2.0
CacheControl==0.12.6
certifi==2021.5.30
charset-normalizer==2.0.6
enum34==1.1.10
idna==3.2
iniconfig==1.1.1
jsonpickle==0.9.6
lxml==4.6.3
msgpack==1.0.2
packaging==21.0
pluggy==1.0.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
python-dateutil==2.8.2
requests==2.26.0
six==1.16.0
toml==0.10.2
urllib3==1.26.6
